{% load static %}
<html>
 <head>
    <title>Django Blog</title>
    <link href = "{% static 'css/base.css' %}" rel = "stylesheet" type = "text/css">
 </head>
<body>
    <div>
    <header>
        <div class="nav-left">
            <h1><a href = "{% url 'home' %}">Django CRUD App</a></h1>
         </div>
        <div class="nav-right">
            <a href = "{% url 'post_new' %}">+ New Post</a>
        </div>
        </header>
        {% block content %}
        {% endblock content %}
    </div>
    </body>
</html>

